.hero {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.overlay {
		background-color: rgba(51,50,55,.7);
		height: 100%;
		display: flex;
		flex-direction: column;
		.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		}
	}
	.top_bar {
		display: flex;
		width: 90%;
		margin: 0 auto;
		padding-top: 50px;
		justify-content: space-between;
		background: transparent;
		transition: .5s;
		opacity: 1;
		align-items: center;
		display: flex;
		h2 {
			margin: 0;
			font-family: $headerText;
			font-size: 35px;
			color: $blue;
		}
	}
	.hero_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0;
		color: white;
		i {
			font-size: 65px;
			position: relative;
			margin-top: 50px;
			animation: bounce 1.5s infinite;
		}
	}
}

.hero {
	.top_bar_opaque {
		opacity: 0;
	}
}

.hero {
	.top_bar_scroll {
		position: fixed;
		opacity: 1;
		width: 100%;
		padding-left: 80px;
		padding-right: 80px;
		padding-top: 0;
		z-index: 100;
		background-color: rgba(0,0,0,.5);
		display: flex;
		h2 {
			color: $lightGrey;
		}
	}
}

@keyframes bounce{
	0% {
		top: 15px;
	}
	50% {
		top: 25px;
	}
	100% {
		top: 15px;
	}
}