@media (max-width: 1100px) {
	.container {
		width: 90%;
	}
	.portfolio {
		.container {
			width: 90%;
		}
		.portfolio_container {
			width: 90%;
		}
	}
	.hero {
		background-attachment: scroll;
		h1 {
			margin-top: 10px;
		}
		p {
			margin: 5px;
		}
		.hero_content {
			i {
				margin-top: 10px;
			}
		}
	}
	.about {
		.about_content {
			.about_me_image {
				position: static;
				right: 0;
			}
			.about_me_text {
				position: static;
				left: 0;
			}
		}
	}
}

@media (max-width: 900px) {
	.portfolio {
		.portfolio_text {
			width: 100%;
			padding: 0;
		}
		.portfolio_image {
			width: 100%;
		}
	}
	.portfolio_piece {
		&:nth-child(even) {
			.portfolio_text {
				padding: 0;
			}
		}
		margin-bottom: 60px;
	}
}

@media(max-width: 800px){
	.about {
		.about_content {
			.about_me_image {
				width: 40%;
			}
			.about_me_text {
				width: calc(60% - 20px);
				margin-right: 20px;
				h4 {
					margin-bottom: 30px;
				}
				p {
					font-size: 13px;
					margin-bottom: 30px;
				}
			}
		}
	}
	.contact {
		.container {
			.contact_form {
				width: 70%;
			}
		}
	}
	footer {
		padding: 0;
		padding-bottom: 20px;
		.container {
			ul {
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
		}
	}
}


@media (max-width: 650px) {
	.about {
		h4 {
			&:after {
				display: none;
			}
		}
		.about_content {
			.about_me_text {
				width: 70%;
				text-align: center;
			}
			.about_me_image {
				width: 70%;
			}
		}
	}
	.skills {
		padding-bottom: 25px;
		.content {
			margin-top: 50px;
		}
	}
	.hero {
		.top_bar_scroll {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

@media (max-width: 600px){
	.about {
		.about_content {
			.about_me_image {
				width: 65%;
			}
			.about_me_text {
				width: 85%;
			}
		}
	}
	.contact {
		.container {
			.contact_form {
				width: 85%;
			}
		}
	}
}

@media (max-width: 550px) {
	.nav-header {
		display: none;
		z-index: 10;
		width :100%;
		background-color: rgba(0,0,0,.75);
		margin-top: 120px;
	}
	.hamburger {
		display: inline-block;
		color: $lightGrey;
		outline: 0;
		span {
			color: $lightGrey;
		}
	}
	.show-menu {
		display: inline-block;
		left: 0%;

	}
	.nav-header ul {
		flex-direction: column;
		background-color: rgba (255, 255, 255, .8);
		width: 100%;
		text-align: center;
		line-height: 35px;
	}
	.nav-header {
		position: absolute;
		ul {
			margin-bottom: 0;
		}
	}
	ul.menu li a {
		padding: 0;
		font-size: 13px;
	}
	.skills {
		.content {
			ul {
				li {
					width: 25%;
				}
			}
		}
	}

}










